[submodule "CoVFit"]
	path = CoVFit
	url = https://github.com/TheSatoLab/CoVFit.git
[submodule "BiLSTM"]
	path = BiLSTM
	url = https://github.com/smtnkc/viral-mutation.git
[submodule "ProtGPT2"]
	path = ProtGPT2
	url = https://github.com/smtnkc/CoV-ProtGPT2.git
